
KMS_KEY_ID=arn:aws:kms:us-east-1:123456789012:key/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
AWS_REGION=us-east-1
AWS_KMS_SIGNING_ALGORITHM=ECDSA_SHA_256


HEDERA_ACCOUNT_ID=0.0.XXXXX

HEDERA_PRIVATE_KEY=302e020100300506032b657004220420...

HEDERA_PUBLIC_KEY_TOPIC_ID=0.0.YYYYY

HEDERA_DECISION_TOPIC_ID=0.0.ZZZZZ

HEDERA_SURGE_TOPIC_ID=0.0.WWWWW