############################################
# Root / General
############################################

HELP.md
.env
.env.*
!.env.example

.DS_Store
Thumbs.db

############################################
# Maven / Java / Spring
############################################

target/
!**/src/main/**/target/
!**/src/test/**/target/

*.log

############################################
# Gradle
############################################

.gradle/
build/

!**/src/main/**/build/
!**/src/test/**/build/

############################################
# IntelliJ IDEA
############################################

.idea/
*.iws
*.iml
*.ipr
out/

############################################
# VS Code
############################################

.vscode/

############################################
# STS
############################################

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

############################################
# NetBeans
############################################

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

############################################
# Node / React
############################################

node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################################
# Testing / Coverage
############################################

coverage/
*.lcov

############################################
# OS / Misc
############################################

*.swp
*.swo
